@mixin button-nav() {
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    background-position: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer
}


@mixin guardar-modal{
    background-color: #B7071B;
    border: #B7071B;
    margin-bottom: 17px;
    margin-left: 0px;
}